target/
.idea
.settings/
*.iml
target/
/.target
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

#vagrant folder containing machines and log files
**/.vagrant/
**/*console.log
**/jobproxy_test.log
**/jobproxy_test.pid
**/jobproxy_touch.txt
**/testing/logs/
**.swp
**/testing/**log_*
